*, *::after, *::before {
    box-sizing: border-box;
}

/* Body */
body {
    margin: 2rem;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

body.loading {
    overflow: hidden;
}

body.loading main * {
    filter: blur(3px)
}

.loading-overlay {
    position: fixed; 
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 2;
    overflow: hidden;
}

.loading-div {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    color: white;
    transform: translate(-50%,-50%);
}

.loading-animation {
    margin: 1rem auto;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    width: 6rem;
    height: 6rem;
    transform: rotate(30deg);
    animation: spin 1.5s ease-in-out infinite;

  }

  @keyframes spin {
    0% { transform: rotate(30deg); }
    100% { transform: rotate(210deg); }
  }


/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    border: 2px solid slategray;
}

.header-left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    padding: 0.25rem;
    margin-right: 2rem;
}


.header-left div.today {
    margin-right: 1rem;
    font-size: 2rem;
}

.weather-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.weather-icon.large {
    width: 80px;
    height: 80px;
}

.header-current-temp {
    font-size: 2rem;
    margin-left: 1rem;
}

.header-right {
    display: grid;
    width: 50%;
    justify-content: space-around;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 0.5rem;
}

.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .info-group {
    background-color: gainsboro;
    border-radius: 4px;
    padding: 0.25rem;
    max-width: 60rem;

}

.label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
}

.value-sub-info {
    font-weight: lighter;
    font-size: .8rem;
}


/* Day and chart section */
.day-and-chart-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Day */
.day-div {
    display: grid;
    min-width: 450px;
    width: 40%;
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    height: max-content;
}

.day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid lightslategray;
    background-color: white;
    box-shadow: 3px 3px 0px lightblue;
    padding: 0.25rem;
    height: 92px;
}

.day-card.selected {
    border: 4px solid slategray;
}

.day-card:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0px lightblue;
    cursor: pointer;
}

.day-card-day {
    font-size: 0.8rem;
    margin-top: 0.5;
}


/* Chart */
div.chart {
    background-color: white;
    min-width: 450px;
    width: 50%;
    aspect-ratio: 2;
    border: 2px solid slategray;
}

.placeholder {
    position: relative;
}

.placeholder img {
    opacity: 0.1;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/* Hours */
.filter-tag {
    border-radius: 16px;
    background-color: lightblue;
    display: inline;
    padding: 0.5rem;
}


table.hour-section {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid slategray;
    background-color: white;
}

.hour-row {
    border-bottom: 2px solid slategray;
}

.hour-row > td {
    padding: 0.25rem 0.5rem;
}